* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
/* Landing Page */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("https://images.unsplash.com/photo-1686572533505-bafac76816ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav img {
  width: 50px;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.nav-links ul li a::after {
  content: "";
  background: green;
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.nav-links ul li a:hover::after {
  width: 100%;
}

.fa-bars {
  display: none;
}

.fa-times {
  display: none;
  margin-top: 10px;
}

.text-box {
  color: aquamarine;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.text-box h3 {
  font-size: 62px;
  margin-bottom: 1%;
}

.text-box p {
  font-size: 12px;
}

/* Course css */
.course {
  text-align: center;
  width: 88%;
  margin: 3% auto;
}

.course .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.course-col {
  width: 30%;
  padding: 1%;
  border-radius: 5px;
  background-color: antiquewhite;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.course-col:hover {
  transform: translateY(-15px);
}

.course-col h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.course-col p {
  font-size: 16px;
  text-align: center;
}

.course-col img {
  width: 100%;
  max-height: 300px;
  border-radius: 7px;
  margin-bottom: 10px;
}

/* About Section start */
.about-section {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.content-section {
  float: left;
  width: 40%;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 54px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: black;
  font-size: 24px;
}

.content-section .content p {
  margin-top: 10px;
  font-size: 18px;
}

.content-section .content .button {
  margin-top: 26px;
}

.content-section .content .button button {
  background-color: rgb(241, 175, 188);
  padding: 12px 13px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.content-section .social {
  margin-top: 24px;
}

.content-section .social i {
  color: blue;
  font-size: 30px;
  margin-right: 10px;
}

.image-section {
  float: right;
  width: 50%;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 340px;
}

@media screen and (max-width: 768px) {
  .text-box h3 {
    font-size: 32px;
  }

  .text-box p {
    font-size: 12px;
  }

  .nav-links ul li {
    display: block;
    padding: 10px 0;
  }

  .nav-links {
    position: absolute;
    right: -150px;
    top: 0;
    background-color: #f44;
    height: 100vh;
    z-index: 2;
    width: 150px;
    text-align: center;
    transition: 0.5s;
  }

  .fa-bars {
    display: block;
    cursor: pointer;
  }

  .fa-times {
    display: block;
    cursor: pointer;
  }

  .container {
    padding-top: 30px;
  }

  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
}
